<form [formGroup]="addTodoForm" class = "todo-form bg-outline-primary text-center">
	<h2>{{mainList.name}}</h2>
	<div class = "form-group form-row text-left ml-3 mb-0">
		<label style="width: 70%;">New Task:</label>
		<span style="width: 4%;"></span>
		<label style="width: 25%;" for="priority">Priority:</label>
	</div>
    <div class = "form-group form-row">
		<input style="width: 70%;" formControlName="task" class = "form-control" placeholder="Add Task Here" minlength="1" #todoText>
		<span style="width: 4%;"></span>
		<select [class.is-invalid] = "addTodoForm.get('priority').invalid && (isSubmitted || (addTodoForm.get('priority').touched) )" 	style="width: 25%;" class="custom-select" name="priority" id="priority" required="required" formControlName="priority" #todoPriority>
			<option value="High">High !!!</option>
			<option value="Medium" selected="selected">Medium !!</option>
			<option value="Low">Low !</option>
		</select>
		<br><br>
		<button (click)="addTodo(todoText, todoPriority)" class = "btn btn-primary btn-block">
			Create
		</button>		
    </div>
</form>

<div class="container my-3 bg-default text-primary">
	<div *ngFor = "let todo of todos; let i = index">
        <div class="task row" [ngStyle]="{'border-color': getBorderColor(todo.priority)}">
            <div class="todo-text col-sm-9 text-left text-light">
                <span class="notDone" for='todo._id' [hidden] = "editMap.get(todo)" #notDone >
					<label class="chkbx-container">{{todo.text}}
						<input type="checkbox" [checked] = "todo.done" (click)="updateState($event, todo)">
						<span class="checkmark"></span>
					  </label>
				</span>
                <input style="width: 80%;" type = "text" [hidden]="!editMap.get(todo)" [value]="todo.text" (keypress)="updateTodoText($event, todo)">
                <input style="width: 20%;" type="button" [hidden]="!editMap.get(todo)" value="Cancel" (click)="setEditState(todo, false)" class = "btn-danger pull-right">
            </div>
            <div class="col-sm-3">
                <input (click)="removeTodo(todo)" type ="button" class = "btn btn-outline-danger pull-right" value = "Delete">
				<input (click)="setEditState(todo, !editMap.get(todo))" type ="button" class = "btn btn-outline-secondary pull-right" value = "Edit">
				<a class="info-icon">
					<img class="ml-3 pull-right" src="../../../assets/img/info.png" style="width: 30px; height: 30px;">
				</a>
				<div class="tooltip-info" [ngStyle]="{'border-color': getBorderColor(todo.priority)}">
					Author: {{todo.author}}, Priority: {{todo.priority}}
				</div>
            </div>
        </div>
    </div>
</div>