<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Todo Application</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routingLink="./" href="">Home</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routingLink="./dashboard" href="./dashboard">Dashboard</a>
	  </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
	  <li class="nav-item dropdown">
        <a class="account nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			User {{userName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routingLink="./login" href="./login" [hidden]="isLoggedIn">Log In</a>
          <a class="dropdown-item" routingLink="./signup" href="./signup" [hidden]="isLoggedIn">Sign Up</a>
          <a class="dropdown-item text-danger" routingLink="./login" href="./login" [hidden]="!isLoggedIn" (click)="logout()">Log Out</a>
        </div>
      </li>
    </form>
  </div>
</nav>
<br>
<div class= "main-app">
  <router-outlet></router-outlet>
  <br>
</div>