<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-default p-4 text-white">
      <h4>About</h4>
      <span class="text-default">This TODO Application was built using MEAN Stack (MongoDB, ExpressJS, Angular and Node.js).</span>
    </div>
  </div>
  
  <nav class="navbar navbar-dark bg-default">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<div class="app-title text-center">
  <h1>TODO Application</h1>
</div>
<br>
<div class= "main-app">
  <br>
  <div class = "row">
    <!-- <div class = "col-md-3 text-center">
    </div> -->
    <div class = "col text-center">
      <todos></todos>
      <br><br>
    </div>
  </div>
</div>