@import url("../../bower_components/bootstrap/dist/css/bootstrap.min.css");

.app-title {
    color: white;
}

.account {
	margin-top: -25px;
}

.navbar-toggler:hover {
	background-color: gray;
    transition: 0.5s all;
}

.main-app {
    width: 70%;
    margin-left: 15%;
}