@import url("../../bower_components/bootstrap/dist/css/bootstrap.min.css");

.app-title {
    /* background-image: url(../design/background3.jpg); */
    /* background-color: black; */
    color: white;
}

.account {
	margin-top: -25px;
}

.navbar-toggler:hover {
    background-color: gray;
    transition: 0.5s all;
}

.main-app {
    /* background-image: url(../design/background3.jpg);
    background-color: black; */
    /* border: 1px solid white;
    border-radius: 25px; */
    width: 70%;
    margin-left: 15%;
}