<div class = "todo-form bg-outline-primary text-center">
    <h1>Add Task</h1><br>
    <div class = "form-group">
        <input class = "form-control input-lg" placeholder="Add Task Here" autofocus #todoText>
        <br>
        <button (click)="addTodo($event, todoText)" class = "btn btn-outline-primary btn-block">Create</button>
    </div>
</div>

<div class="container my-3 bg-default text-primary">
    <div *ngFor = "let todo of todos">
        <div class="row">
            <div class="col-sm-1">
                <input type = "checkbox" [checked] = "todo.done" (click)="updateState($event, todo)">
            </div>
            <div class="col-sm-8 text-left">
                <span [hidden] = "m1.get(todo)">{{todo.text}}</span>
                <input style="width: 80%;" type = "text" [hidden]="!m1.get(todo)" [value]="todo.text" (keypress)="updateTodoText($event, todo)">
                <input style="width: 20%;" type="button" [hidden]="!m1.get(todo)" value="Cancel" (click)="setEditState(todo, false)" class = "btn-danger pull-right">
            </div>
            <div class="col-sm-3">
                <input (click)="removeTodo($event, todo)" type ="button" class = "btn btn-outline-danger pull-right" value = "Delete">
                <input (click)="setEditState(todo, !m1.get(todo))" type ="button" class = "btn btn-outline-primary pull-right" value = "Edit">
            </div>
        </div>
    </div>
</div>