<form class="form-login text-dark text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<br>
  <h3>Log in</h3>
  <br>
  <div class="form-group">
	  <div class="input-group-prepend" [ngClass]="{'has-error': isSubmitted && formControls.email.errors}">
		  <!-- <span class="input-group-text" id="basic-addon1">@</span> -->
		  <input [class.is-invalid] = "loginForm.get('email').invalid && (isSubmitted || loginForm.get('email').touched)" formControlName="email" minlength="7" type="email" class="form-control" name="email" placeholder="Email" required="required">
	  </div>
	  <!-- <div [hidden]="emailLogin" class="text-left text-danger ml-1">
		  <span>Email Invalid</span>
	  </div> -->
	</div>

	<div class="form-group">
	  <div class="input-group-prepend" [ngClass]="{'has-error': isSubmitted && formControls.password.errors }">
		  <!-- <span class="input-group-text" id="basic-addon1">**</span> -->
		  <input [class.is-invalid] = "loginForm.get('password').invalid && (isSubmitted || loginForm.get('password').touched)" formControlName="password" minlength="6" type="password" class="form-control" name="password" placeholder="Password" required="required">
	  </div>
	  <!-- <div [hidden]="passwordLogin" class="text-left text-danger ml-1">
		  <span>Password Invalid</span>
	  </div> -->
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block btn-lg">Log In</button>
	</div>
	<br>
</form>
<div class="container mt-4 text-light text-center">
  <p class="small text-center">Don't have an account yet?
	  <a routingLink="./signup" href="./signup">Join Now</a>
  </p>
</div>